table{border-collapse:collapse;}
td, th{padding:0.5em;}
th{background-color:#ddd}
.winkelmandje{
background-color: lightsteelblue;
width:400px; 
padding:0.7em; 
margin: 1em;
}
.afwerking{
    margin-top: 5%;
    text-align: center;
}

.breadcrumbs{
    list-style:none;
    overflow:hidden;
    margin:0;
    padding:0;
}
.breadcrumbs li{
    display:inline;
}
.breadcrumbs li a{
    position:relative;
    display:block;
    float:left;
    background:#E0ECF4;
    text-decoration:none;
    line-height:40px;
    padding-left:30px;
}
.breadcrumbs li:first-child a{
    padding-left:10px;   
}
.breadcrumbs li a:after{
    content: "";
    display:block;
    width:0;
    height:0;
    border-top:20px solid transparent;
    border-bottom:20px solid transparent;
    border-left:20px solid #E0ECF4;
    position:absolute;
    top:50%;
    margin-top:-20px;
    left:100%;
    z-index:2;
}
.breadcrumbs li a:before{
    content: "";
    display:block;
    width:0;
    height:0;
    border-top:23px solid transparent;
    border-bottom:23px solid transparent;
    border-left:23px solid white;
    position:absolute;
    top:50%;
    margin-top:-23px;
    margin-left: 0px;
    left:100%;
    z-index:1;
}
.breadcrumbs .actief a{
    background:#005689;
    color:#FFF;
}
.breadcrumbs .actief a:after{
    border-left-color:#005689;
}